<div class="container">
<button type="button" class="btn btn-primary" data-toggle="modal" (click)="notesModal()">Add Note</button>

<div class="card" *ngFor="let note of notes">
    <div class="banner">
        <h3>{{ note.title }}</h3>
        <div class="spacer"></div>
        <p>{{ note.created_at }}</p>
    </div>
    <p>{{ note.description }}</p>
    <div>
        <span *ngFor="let tag of note.tags">
            <p class="badge badge-secondary">{{ tag.tag }}</p>
        </span>
    </div>
</div>

</div>
